@media(min-width:1025px){
    #asignacion {
        min-height: 443px;
    }
  
}

@media(width:1024px){
    #asignacion {
        min-height: 540px;
    }
  
}

@media (min-width: 1500px){
    #asignacion {
        min-height: 755px;
    }
}

@media(max-width:800px){
    #asignacion {
        min-height: 720px;
    }
  
}